/* Start Services */
.services{
  min-height: 10vh;
  text-align: center;
  padding: 2% 6%;
}
.services h1{
  font-size: 3.8rem;
  padding: 0.5rem;
  display: inline-block;
  color: chocolate;
  border-bottom: .3rem solid chocolate;
  margin-bottom: 1.8rem;
}
.services .container{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;

}
.services .container .box{
  width: 20rem;
  height: 20rem;
  margin: .4rem;
  position: relative;
  overflow: hidden;
  border-radius: 30px;

}
.services .container .box img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;

}
.services .container .box .info{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transform-origin: bottom;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.services .container .box:hover .info{
  transform: translate(-50%, -50%) scale(1);
}
.services .container .box .info h3{
  font-size: 2rem;
  color: chocolate;
  margin-bottom: 1.2rem;
}
.services .container .box .info p{
  line-height: 2;
  color: #fff;
  font-size: 0.80rem;
  padding: 0 1rem;
  margin-bottom: 1.2rem;
}

.services .container .box .info .btn button{

  columns:chocolate ;
}
