<!-- <section class="trainer-section spad">
  <section class="trainer-section spad">
<div class="container">
  <div class="row">
      <div class="col-lg-12">
          <div class="section-title">
              <h2>EXPERT TRAINERS</h2>
          </div>
      </div>
  </div>
<div class="row">
  <div class="col-lg-4 col-md-6">
      <div class="single-trainer-item"  *ngFor="let coach of list" >
          <img src={{coach.image}} alt="">
          <div class="trainer-text">
              <h5>{{coach.nomPrenom}}</h5>
              <span>{{coach.typeS}}</span>
              <p>{{coach.description}}</p>
              <div class="trainer-social">
                <a href={{coach.compteF}}><i class="fa fa-facebook"></i> {{coach.compteF}} </a>
                <a href={{coach.compteI}}><i class="fa fa-instagram">{{coach.compteI}}</i></a>
            </div>

      <div class="card-footer">
        <div style="text-align:center">
          <button type="button" class="btn btn-outline-success btn-rounded" data-mdb-ripple-color="dark" (click)="update(coach)">Modifier</button>
          <button type="button" class="btn btn-outline-danger btn-rounded" data-mdb-ripple-color="dark" (click)="deleteCoach(coach.id)" >Supprimer</button>
      </div></div>

          </div>

      </div>

  </div>


  </div>

</div>
</section> -->


<section style="padding: 20px;" class="">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="section-title">
              </div>
          </div>
      </div>
      <div style="padding: px;" class="row">
          <div class="row row-cols-1 row-cols-md-3 g-4">
              <div class="single-trainer-item"  *ngFor="let coach of list">
                  <img  src={{coach.image}}  >
                  <div  class="trainer-text">
                      <h5 style="color: chocolate;">{{coach.nomPrenom}}</h5>
                      <span>{{coach.typeS}}</span>
                      <p>{{coach.description}}
                      </p>

                  </div>
              </div>
          </div>


      </div>
  </div>
</section>
