
  <!-- Breadcrumb Section Begin -->
  <section class="breadcrumb-section set-bg" data-setbg="assets/img/breadcrumb/classes-breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <h2>NOS ESPACES</h2>
                    <div class="breadcrumb-option">
                        <a href="./index.html"><i class="fa fa-home"></i> ACCEUIL</a>
                        <span>NOS ESPACES</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<br><br>

<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="card"*ngFor="let espace of list">
    <img class="card-img-top" src={{espace.image}}>
    <!-- <img class="card-img-top" src="assets/image/dos.png"> -->
    <div class="card-body">
      <br>
      <h1 class="card-title">{{espace.nom}}</h1>
      <h5 class="card-title">{{espace.description}}</h5>
    </div>
  </div>
  </div>
