<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>nom</th>
            <th>prenom</th>
            <th>Date de naissance</th>
            <th>Email</th>
            <th>Telephone</th>
            <th>poids</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody *ngFor="let utilisateur of list" >
        <tr>
            <td> {{utilisateur.id}}</td>
            <td> {{ utilisateur.nom }}</td>
            <td> {{ utilisateur.prenom }}</td>
            <td> {{ utilisateur.datenaiss }}</td>
            <td> {{ utilisateur.email }}</td>
            <td> {{ utilisateur.telephone }}</td>
            <td> {{ utilisateur.poids }}</td>
            <td>
                <button type="button" class="btn btn-outline-success btn-rounded" data-mdb-ripple-color="dark" (click)="update(utilisateur)">Modifier</button>
          <button type="button" class="btn btn-outline-danger btn-rounded" data-mdb-ripple-color="dark" (click)="deleteUser(utilisateur.id)" >Supprimer</button>
            </td>
        </tr>
    </tbody>
</table>