<div class="col-md-8 offset-md-3">
  <h3 style="text-align: center;font-family: 'Times New Roman';font-size: x-large;color: #007bff">Modifier Coach</h3>

  <form (ngSubmit)="onSubmit()">


    <div class="form-group">
      <label>Nom Coach</label>
      <input type="text" class="form-control" id="nom" name="nom" [(ngModel)]="coa.nomPrenom" >
    </div>
    <div class="form-group">
      <label>Type de Sport</label>
      <input type="text" class="form-control"
             [(ngModel)]="coa.typeS" name="image">
    </div>
    <div class="form-group">
      <label>Description</label>
      <input type="text" class="form-control" id="description"
      [(ngModel)]="coa.description" name="description">
    </div>

    <div class="form-group">
      <label>Image</label>
      <input type="text" class="form-control"
             [(ngModel)]="coa.image" name="image">
    </div>

    <div class="form-group">
      <label>Compte Facebook</label>
      <input type="text" class="form-control"
             [(ngModel)]="coa.compteF" name="compteF">
    </div>
    <div class="form-group">
      <label>Compte Instagram</label>
      <input type="text" class="form-control"
             [(ngModel)]="coa.compteI" name="compteI">
    </div>

    <div class="form-element">
      <button  color="primary" type="submit" class="btn btn-success" style="background-color: darkcyan" (click)="modif()">Modifier</button>
      <button  color="primary" (click)="retour()"  class="btn btn-danger" style="background-color: #8B4043">Retour</button>
    </div>


  </form>
</div>
