<div class="col-md-8 offset-md-3">
    <h3 style="text-align: center;font-family: 'Times New Roman';font-size: x-large;color: #007bff">Modifier Tarif</h3>
  
    <form (ngSubmit)="onSubmit()">
  
  
      <div class="form-group">
        <label>Nom Espace</label>
        <input type="text" class="form-control" id="nom" name="nom" [(ngModel)]="ta.nom" >
      </div>
      <div class="form-group">
        <label>Description</label>
        <input type="text" class="form-control" id="description"
        [(ngModel)]="ta.description" name="description">
      </div>
  
      <div class="form-group">
        <label>Type</label>
        <input type="text" class="form-control"
               [(ngModel)]="ta.prix" name="prix">
      </div>
  
      <div class="form-element">
        <button  color="primary" type="submit" class="btn btn-success" style="background-color: darkcyan" (click)="modif()">Modifier</button>
        <button  color="primary" (click)="retour()"  class="btn btn-danger" style="background-color: #8B4043">Retour</button>
      </div>
  
  
    </form>
  </div>
  