<section  class="breadcrumb-section set-bg" data-setbg="assets/img/breadcrumb/classes-breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <h2>Activités</h2>
                    <div class="breadcrumb-option">
                        <a href="./index.html"><i class="fa fa-home"></i> ACCEUIL</a>
                        <span>Nos Activités</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="services">
    <div  class="container">
        <div class="box" *ngFor="let activite of listeact">
            <img src={{activite.imageA}}>
            <div class="info">
                <h3><b>{{activite.nomA}}</b></h3>
                <p>{{activite.descriptionA}}</p>
            </div>
        </div>
    </div>
</section> 