<div class="col-md-8 offset-md-3">
    <h3 style="text-align: center;font-family: 'Times New Roman';font-size: x-large;color: #007bff">Modifier activite</h3>
  
    <form (ngSubmit)="onSubmit()">
  
  
      <div class="form-group">
        <label>Nom Activite</label>
        <input type="text" class="form-control" id="nom" name="nomA" [(ngModel)]="act.nomA" >
      </div>
      <div class="form-group">
        <label>Description act</label>
        <input type="text" class="form-control" id="description"
               [(ngModel)]="act.descriptionA" name="descriptionA">
      </div>
     
      <div class="form-group">
        <label>Type</label>
        <input type="text" class="form-control"
               [(ngModel)]="act.imageA" name="imageA">
      </div>
  
      <div class="form-element">
        <button  color="primary" type="submit" class="btn btn-success" style="background-color: darkcyan" (click)="modif()">Modifier</button>
        <button  color="primary" (click)="retour()"  class="btn btn-danger" style="background-color: #8B4043">Retour</button>
      </div>
  
  
    </form>
  </div>
  