<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="card" *ngFor="let events of list">
    <img class="card-img-top" src={{events.image}}>
    <!-- <img class="card-img-top" src="assets/image/dos.png"> -->
    <div class="card-body">
      <br>
      <h1 class="card-title">{{events.nomE}}</h1>
      <h5 class="card-title">{{events.description}}</h5>
      <p class="card-text">{{events.dateE}}</p>
    </div>

    <div class="card-footer">
      <div style="text-align:center">
    </div></div>

    <div class="card-footer">
      <div style="text-align:center">
      <small class="text-muted"> <a href="/zumba" class="btn btn-success">S'INSCRIRE </a></small>
    </div></div>
  </div>
  </div>
