

<form>
  <div class="mb-3"><label for="nom" class="form-label">Nom Espaces</label><input type="text"
      class="form-control" [(ngModel)]="esp.nom"/>

  </div>
  <div class="mb-3"><label for="exampleInputPassword1" class="form-label">Description</label><input type="text"
      class="form-control" id="exampleInputPassword1"  [(ngModel)]="esp.description"></div>

        <div class="mb-3"><label for="exampleInputPassword1" class="form-label" placeholder= "Entrer votre URL "  >Image</label><input type="text"
          class="form-control" id="exampleInputPassword1"  [(ngModel)]="esp.image"></div>

          <img *ngIf ="url" [src]="url" alt="image">







          <button type="submit"
    class="btn btn-primary" (click)="add()">Submit</button>
</form>


